{% extends "adminlte/base.html" %}
{% block title %} 漏洞列表{% endblock %}

{% block content %}
<table id="demo" lay-filter="test"></table>

<script src="/static/layui/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 312
    //url: '/demo/table/user/' //数据接口
    ,page: true //开启分页
    ,data: [{"id":1,"username":"skeep",}]
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
      ,{field: 'vuln_name', title: '漏洞名称', width:277}
      ,{field: 'vuln_owner', title: '负责人', width:120, sort: true}
      ,{field: 'vuln_related', title: '关联资产', width:120, sort: true}
      ,{field: 'vuln_level', title: '漏洞评级', width:120, sort: true, sort: true}
      ,{field: 'update_time', title: '修改时间', width:120, sort: true}
      ,{field: 'vuln_status', title: '当前状态', width: 120, sort: true}
      ,{field: 'vuln_op', title: '高级选项', width: 200, sort: true}

    ]]
  });

});
</script>
{% endblock %}